@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Open+Sans:wght@300;400;700&display=swap')

body, p, span, h2, li
    font-family: 'Open Sans', sans-serif
    font-weight: 300
    margin: 0
    color: var(--text)

h1, h3, h4, h5 
    font-family: 'Fira Sans', sans-serif
    margin: 0
    color: var(--text)

\:root
    --black: #000000
    --grey: #191919
    --green: #E2FE01
    --white: #FFFFFF
    --none: transparent

body
    --bg: var(--white)
    --box: var(--black)
    --text: var(--black)
    --select: var(--green)

.night
    --bg: var(--black)
    --box: var(--none)
    --text: var(--white)
    --select: var(--green)    

body
    background-color: var(--bg)
    transition: background 500ms ease-in-out, color 1000ms ease-in-out

.boxe
    border: 1px solid var(--box)
    border-radius: 10px
    margin: 2px
    &:hover
        background-color: var(--select)
        h4, span 
            color: var(--black)
        svg 
            fill: var(--black) !important


#mode
    padding: 10px 5px 0 5px  
    border-radius: 20px
    header
        display: flex
        position: relative
        h1 
            font-size: 20px
        h2, span
            font-size: 10px
        h2 
            font-weight: 400
            line-height: 0.8

        img
            max-width: 60px
            border: 1px solid var(--box)
            border-radius: 30px
            margin-right: 2px

    main 
        display: flex
        flex-wrap: wrap
        margin: 10px 0
        a 
            text-decoration: none
            color: var(--text)
            flex-grow: 1
            text-align: center
            padding: 10px 0
        svg 
            max-width: 23px
            margin: 10px 0
            fill: var(--text)
        h3 
            flex-basis: 100%
        h4 
            font-size: 12px
        span 
            font-size: 10px


#darkmode
    position: absolute
    right: 7px

button
    width: 55px
    height: 30px
    background: transparent
    border: transparent

    

input[type=checkbox]
    height: 0
    width: 0
    visibility: hidden

label 
    cursor: pointer
    text-indent: -9999px
    width: 52px
    height: 27px
    background: var(--box)
    border-radius: 100px
    position: relative
    border: 1px solid var(--text)

label::after
    content: ''
    position: absolute
    top: 3px
    left: 3px
    width: 20px
    height: 20px
    background-color: white
    border-radius: 90px
    transition: 0.3s

input:checked + label 
    background-color: var(--black)

input:checked + label::after 
    left: calc(100% - 5px)
    transform: translateX(-100%)

label:active:after 
    width: 45px



#home
    @media (min-width: 767px)
        #mode
            max-width: 100%
        #botao-cel
            display: none
        #botao-note
            display: block        

    @media (min-width: 768px)
        #mode
            max-width: 360px
            margin: 10% auto 0 auto
            border: 1px solid var(--black)


    @media (max-width: 767px)  
        #botao-note
            display: none
        #botao-cel
            display: block
        #darkmode
            position: absolute
            right: 10px   
        top: 17git px     