{% include headapto.html %}

<body id="apto">
    <header>
        <h1>Vendo Apartamento 1 Dormitório</h1>
        <!--<span>R$2XX.000,00</span>-->
        <h2>Av. Bento Gonçalves 2134, Bairro Partenon - Porto Alegre/RS <br><a href="#local">(Ver Localização)</a></h2>
        <h3>Desocupado, área total de 55m² e privativa de 47m² <a href="#planta">(Ver planta do apartamento)</a>, box de garagem coberto e escriturado, térreo (sem escadas), de fundos (silencioso e com privacidade), condomínio reformado/renovado recentemente com valor baixo (aprox. R$220,00), gás central, salão de festa com churrasqueira e circuito interno de câmeras. Posição solar Norte e Oeste. Paradas de ônibus muito próximas (para diversas zonas da cidade), fácil locomoção para o Centro Histórico, PUCRS e UFRGS. Bourbon Ipiranga fica a 3 quadras. <a href="#permanece">Ver lista de móveis</a> que permanecem no apartamento.</h3>
    </header>
    <section>
        <img src="assets/apto/1WG464.jpg" alt="Sala">
        <img src="assets/apto/1WG468.jpg" alt="Sala">
        <img src="assets/apto/1WG465.jpg" alt="Sala">
        <img src="assets/apto/2WG470.jpg" alt="Hall">
        <img src="assets/apto/3WG472.jpg" alt="Quarto">
        <img src="assets/apto/3WG478.jpg" alt="Quarto">
        <img src="assets/apto/3WG479.jpg" alt="Quarto">
        <img src="assets/apto/4WG481.jpg" alt="Quarto">
        <img src="assets/apto/5WG487-edit.jpg" alt="">
        <img src="assets/apto/5WG490.jpg" alt="Sala">
        <img src="assets/apto/5WG491.jpg" alt="Sala">
        <img src="assets/apto/6WG493.jpg" alt="Sala">
        <img src="assets/apto/6WG494.jpg" alt="Sala">
        <img src="assets/apto/6WG496.jpg" alt="Sala">
        <img src="assets/apto/9WG520-sem-placa.jpg" alt="Sala">
        <img src="assets/apto/7WG503.jpg" alt="Entrada">
        <h4 id="planta">Planta</h4>
        <p>Planta meramente ilustrativa para compreensão da disposição dos cômodos do apartamento.</p>
        <img src="assets/apto/Planta-apto.jpg" alt="Planta">
        <h4 id="local">Localização</h4>
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.2244985666357!2d-51.19527418488453!3d-30.059098781876937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519780e37b70503%3A0xbfa7d6ae4920c2b8!2sAv.%20Bento%20Gon%C3%A7alves%2C%202134%20-%20Partenon%2C%20Porto%20Alegre%20-%20RS%2C%2090650-000!5e0!3m2!1spt-BR!2sbr!4v1623625066777!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <h4 id="permanece">Permanecem</h4>
        <p>Permanecem no apartamento os seguintes móveis, no estado que se encontram:</p>
        <ul>
            <li>Sala</li>
            <li>Ventilador de teto,</li>
            <li>Bancada feita sob medida,</li>
            <li>Luminárias industrial fixas.</li>
        </ul>
        <ul>
            <li>Hall de Entrada</li>
            <li>Armário embutido sob medida.</li>
        </ul>
        <ul>
            <li>Banheiro</li>
            <li>Cuba com armários e torneira,</li>
            <li>Box de vidro.</li>
        </ul>
        <ul>
            <li>Cozinha</li>
            <li>Armário sob medida da cozinha</li>
            <li>que acompanha pia, torneira, fogão cooktop e pedra.</li>
        </ul>
        <ul>
            <li>Quarto</li>
            <li>Roupeiro sob medida,</li>
            <li>Ventilador de teto,</li>
            <li>Luminárias industrial fixas,</li>
            <li>Ar condicionado de parede.</li>
        </ul>                          
        <a id="botaovoltar" href="#apto">Voltar ao topo</a>
    </section>

</body>
</html>