{% include head.html %}
  <body>
    <header class="">
      <div class="hero">

        
        <div class="float floating" >
          <img src="/assets/blue-profile.png" alt="Wagner Rosa image." class="float-left">
          <h1>Wagner Rosa</h1>
          <h2>Marketing Analyst - <span>Multimedia Design</span></h2>
        </div>

        <div class="left  box">
          <h3>Get in touch</h3>
          <div class="icons">
            <a href="https://github.com/wagnerrosa" target="_blank"><img src="/assets/icons/003-github.svg" alt="Wagner Rosa's github page"></a>@wagnerrosa /  
            <a href="https://instagram.com/wagnrosa" target="_blank"><img src="/assets/icons/001-instagram.svg" alt="Wagner Rosa's Instagram page"></a>
            <a href="https://www.linkedin.com/in/wagrosa/" target="_blank"><img src="/assets/icons/002-linkedin.svg" alt="Wagner Rosa's linkedin page"></a>
          </div>
          <hr>
          <div>
            Newsletter
          </div>
        </div>
        <div class="right box">
          <h3>Get in touch</h3>
          <form action="https://getform.io/f/f55d4fe0-f572-434f-9947-bde03b9f8b73" method="POST">

            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <textarea minlength="20" placeholder="Feel free to write"></textarea>
            <div class="g-recaptcha" data-sitekey="6LfCVfkUAAAAAEuGWlbDrH8zA3IAgH3SN6q5GvnF"></div>
            <button type="submit">Send</button>
            
          
          </form>
                            
          


        </div>


      </div>
    </header>


  </body>
{% include footer.html %}
