{% include head.html %}
  <body>
    <header class="">
      <div class="hero">

        
        <div class="float floating" >
          <img src="/assets/blue-profile.png" alt="Wagner Rosa image." class="float-left">
          <h1>Wagner Rosa</h1>
          <h2>Marketing Analyst - <span>Multimedia Design</span></h2>
        </div>

        <div class="left">
          <h3>Get in touch</h3>
          <div class="icons">
            <img src="/assets/icons/003-github.svg" alt="">@wagnerrosa / <img src="/assets/icons/001-instagram.svg" alt=""> <img src="/assets/icons/002-linkedin.svg" alt="">
          </div>
          <hr>
          <div>
            Newsletter
          </div>

          <div class="right">
            <h3>Get in touch</h3>
            <div class="icons">
              <img src="/assets/icons/003-github.svg" alt="">@wagnerrosa / <img src="/assets/icons/001-instagram.svg" alt=""> <img src="/assets/icons/002-linkedin.svg" alt="">
            </div>
            <hr>
            <div>
              Newsletter
            </div>          
          


        </div>


      </div>
    </header>


  </body>
{% include footer.html %}
