{% include head.html %}

<body id="workout">
    <div class="limitador">
        <div class="table">
            <div class="grupo">
                <div class="cell titulo">exercise</div>
                <div class="cell titulo">Sets</div>
                <div class="cell titulo">Group</div>
                <div class="cell titulo">How to</div>
            </div>
            <div class="grupo">
                <div class="cell radius-top" data-title="Exercise">Diamond Push-Ups</div>
                <div class="cell" data-title="Sets">4</div>
                <div class="cell" data-title="Group">Chest</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Inverted row</div>
                <div class="cell" data-title="Sets">4</div>
                <div class="cell" data-title="Group">Back</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Bed Sheet Flyes</div>
                <div class="cell" data-title="Sets">2</div>
                <div class="cell" data-title="Group">Chest</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>    
            <div class="grupo">
                <div class="cell" data-title="Exercise">Pike Push-Ups</div>
                <div class="cell" data-title="Sets">3</div>
                <div class="cell" data-title="Group">Shoulders</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Straight Arm Pulldown</div>
                <div class="cell" data-title="Sets">3</div>
                <div class="cell" data-title="Group">Back</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Prone Arm Circles</div>
                <div class="cell" data-title="Sets">3</div>
                <div class="cell" data-title="Group">Back</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Rear Delt Flyes</div>
                <div class="cell" data-title="Sets">3</div>
                <div class="cell" data-title="Group">Shoulders</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Biceps Bed Sheet Curl</div>
                <div class="cell" data-title="Sets">2</div>
                <div class="cell" data-title="Group">Biceps</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Tricep Extensions</div>
                <div class="cell" data-title="Sets">2</div>
                <div class="cell" data-title="Group">Triceps</div>
                <div class="cell radius-bottom" data-title="Video">Link</div>                
            </div>                                
        </div>

        <!--B== -->
        <div class="table">

            <div class="grupo">
                <div class="cell radius-top" data-title="Exercise">Push-Ups (decline)</div>
                <div class="cell" data-title="Sets">4</div>
                <div class="cell" data-title="Group">Chest</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Dip</div>
                <div class="cell" data-title="Sets">4</div>
                <div class="cell" data-title="Group">Chest</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Inner</div>
                <div class="cell" data-title="Sets">4</div>
                <div class="cell" data-title="Group">Chest</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>    
            <div class="grupo">
                <div class="cell" data-title="Exercise">Lateral Raises</div>
                <div class="cell" data-title="Sets">4</div>
                <div class="cell" data-title="Group">Shoulders</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Face Pulls</div>
                <div class="cell" data-title="Sets">3</div>
                <div class="cell" data-title="Group">Back</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Pull Ups</div>
                <div class="cell" data-title="Sets">2</div>
                <div class="cell" data-title="Group">Back</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Rear Delt Row</div>
                <div class="cell" data-title="Sets">3</div>
                <div class="cell" data-title="Group">Shoulders</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Biceps Bed Sheet Curl</div>
                <div class="cell" data-title="Sets">2</div>
                <div class="cell" data-title="Group">Biceps</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Tricep Extensions</div>
                <div class="cell" data-title="Sets">2</div>
                <div class="cell" data-title="Group">Triceps</div>
                <div class="cell radius-bottom" data-title="Video">Link</div>                
            </div>                                
        </div>

        <!--c== -->

        <div class="table">

            <div class="grupo">
                <div class="cell radius-top" data-title="Exercise">Assisted Pistol Squat</div>
                <div class="cell" data-title="Sets">3</div>
                <div class="cell" data-title="Group">Legs</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Assisted Pistol Squat</div>
                <div class="cell" data-title="Sets">3</div>
                <div class="cell" data-title="Group">Legs</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>
            <div class="grupo">
                <div class="cell" data-title="Exercise">Sliding Hamstring Curls</div>
                <div class="cell" data-title="Sets">4</div>
                <div class="cell" data-title="Group">Legs</div>
                <div class="cell" data-title="Video">Link</div>                
            </div>    
            <div class="grupo">
                <div class="cell radius-bottom" data-title="Exercise">Abdominals / Cardio</div>
                <div class="cell hide" > </div>
                <div class="cell hide" > </div>
                <div class="cell hide" > </div>                
            </div>                             
        </div>            
    </div>
</body>

{% include footer.html %}